Repository benoitdm-oslandia/pg_featureserv: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go-linter, go-test-unit, build-hugo-doc

Path conditions:
  go-linter: any of: **/*.go, **/go.mod, **/go.sum, .gitlab-ci.yml
  go-test-unit: any of: **/*.go, **/go.mod, **/go.sum, .gitlab-ci.yml
  build-hugo-doc: any of: **/*.md, .gitlab-ci.yml

postgres varchar type json mapping
  internal/api/datatype.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/util/test_db.go
Due: go-linter, go-test-unit

feat(schema) : add test for multiple schema
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/db_test/runner_db_test.go
  internal/util/test_db.go
Due: go-linter, go-test-unit

Add bench program with possibility to compare metrics with a ref
  .gitignore
  Makefile
  bench/NOTES.md
  bench/README.md
  bench/data.json
  bench/go.mod
  bench/main.go
  bench/ref/BenchmarkGetCollectionItem-fake.ref
  go.work
  internal/conf/config.go
  internal/service/benchmarks/get_collection_item_db_test.go
  internal/service/benchmarks/get_collection_items_db_test.go
  internal/service/benchmarks/get_collections_db_test.go
  internal/service/benchmarks/init_db_test.go
Due: go-linter, go-test-unit, build-hugo-doc

Fix linter
  .gitignore
  bench/NOTES.md
  bench/data.json
Due: build-hugo-doc

Fix not run bench on CI
  .gitlab-ci.yml
Due: go-linter, go-test-unit, build-hugo-doc

Fix sonar : exclude bench programm
  sonar-project.properties
Due: none

Add ref bench
  Makefile
  bench/NOTES.md
  bench/data.json
  bench/ref/BenchmarkGetCollectionItem-fake.ref
  bench/ref/BenchmarkGetCollectionItem.ref
  bench/ref/BenchmarkGetCollectionItems.ref
  bench/ref/BenchmarkGetCollections.ref
Due: build-hugo-doc

improve http accepted format management
  internal/api/api.go
  internal/api/net.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_get_test.go
  internal/service/mock_test/handler_put_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/util.go
Due: go-linter, go-test-unit

Adapt bench to cache/etag branch
  bench/data.json
  internal/service/benchmarks/get_collection_item_db_test.go
  internal/service/benchmarks/init_db_test.go
Due: go-linter, go-test-unit

simplifying extension check
  internal/api/net.go
Due: go-linter, go-test-unit

feat(cache): Etag cache implementation into catalog
  internal/api/api.go
  internal/api/datatype.go
  internal/api/etag.go
  internal/api/net.go
  internal/api/openapi.go
  internal/conf/config.go
  internal/data/cache_disabled.go
  internal/data/cache_naive.go
  internal/data/cacher.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_db_fun.go
  internal/data/catalog_mock.go
  internal/data/db_sql.go
  internal/data/feature_mock.go
  internal/service/db_test/handler_db_delete_test.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler.go
  internal/service/mock_test/empty_base_path_test.go
  internal/service/mock_test/handler_etag_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/service.go
  internal/service/util.go
Due: go-linter, go-test-unit

improve http accepted format management
  internal/api/api.go
  internal/api/net.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_get_test.go
  internal/service/mock_test/handler_put_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/util.go
Due: go-linter, go-test-unit

feat(cache listener): adapt listener to Cacher
  internal/data/cache_disabled.go
  internal/data/cache_naive.go
  internal/data/cacher.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_db_fun.go
  internal/data/catalog_mock.go
  internal/data/listener.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/runner_db_test.go
Due: go-linter, go-test-unit

feat(listener): add db listener
  go.mod
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/data/db_sql.go
  internal/data/listener.go
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/runner_db_test.go
  pg_featureserv.go
Due: go-linter, go-test-unit

feat(db): remove addLeadingComma parameter to function sqlColList to improve sql readability
  internal/data/db_sql.go
Due: go-linter, go-test-unit

fix(listener): add check when calling stopListen to avoid segfault
  internal/data/catalog_db.go
  internal/data/listener.go
Due: go-linter, go-test-unit

fix(catalog_db): non-check error when posted object has only required fields.
  internal/data/catalog_db.go
Due: go-linter, go-test-unit

fix(cache): add missing test TestCacheModifiedAfterUpdate
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/runner_db_test.go
Due: go-linter, go-test-unit

fix(listener): remove useless mutex
  internal/data/catalog_db.go
  internal/data/listener.go
Due: go-linter, go-test-unit

fix(UPDATE): no more index nor Location header returned
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_update_test.go
Due: go-linter, go-test-unit

Fix tests with complex type fields
  internal/data/catalog_db.go
  internal/service/db_test/handler_db_delete_test.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/handler.go
  internal/service/handler_update_test.go
Due: go-linter, go-test-unit

Fix empty "properties" parameter for "mock" mode
  internal/data/catalog_mock.go
  internal/service/handler_test.go
Due: go-linter, go-test-unit

Implementation of the sequential test mechanism (db and mock)
  Makefile
  hugo/content/installation/installing.md
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_delete_test.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler_delete_test.go
  internal/service/handler_post_test.go
  internal/service/handler_put_test.go
  internal/service/handler_test.go
  internal/service/handler_update_test.go
  internal/service/mock_test/empty_base_path_test.go
  internal/service/mock_test/handler_delete_test.go
  internal/service/mock_test/handler_functions_test.go
  internal/service/mock_test/handler_get_test.go
  internal/service/mock_test/handler_html_test.go
  internal/service/mock_test/handler_params_test.go
  internal/service/mock_test/handler_post_test.go
  internal/service/mock_test/handler_put_test.go
  internal/service/mock_test/handler_update_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/util.go
  internal/util/test_db.go
  internal/util/test_http.go
Due: go-linter, go-test-unit, build-hugo-doc

fix(REPLACE): complex type fields. fix(UPDATE/DELETE)(db): id
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/handler.go
Due: go-linter, go-test-unit

update return code and remove generic func for app error
  internal/service/db_test/handler_db_post_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_post_test.go
  internal/service/mock_test/handler_update_test.go
  internal/service/util.go
Due: go-linter, go-test-unit

openapi: fix openapi validation errors and json validation from requests
  go.mod
  go.sum
  internal/api/api.go
  internal/api/openapi.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_delete_test.go
  internal/service/mock_test/handler_post_test.go
  internal/service/mock_test/handler_put_test.go
  internal/service/mock_test/handler_update_test.go
Due: go-linter, go-test-unit

add api.ErrMsgNoParameters const
  internal/api/api.go
  internal/service/handler.go
Due: go-linter, go-test-unit

add ErrMsgCollectionRequestBodyRead for common error messages
  internal/api/api.go
  internal/service/handler.go
Due: go-linter, go-test-unit

chore: improve github ci (add linter check, test, packaging)
  .github/workflows/linter.yml
  .github/workflows/package.yml
  .github/workflows/unit-test.yml
  README.md
Due: build-hugo-doc
