Repository benoitdm-oslandia/pg_featureserv: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go-linter, go-test-unit, build-hugo-doc

Path conditions:
  go-linter: any of: **/*.go, **/go.mod, **/go.sum, .gitlab-ci.yml
  go-test-unit: any of: **/*.go, **/go.mod, **/go.sum, .gitlab-ci.yml
  build-hugo-doc: any of: **/*.md, .gitlab-ci.yml

feat(catalog): manage not required fields
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/data/db_sql.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler_put_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

feat(DELETE): remove useless returned value
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/handler.go
Due: go-linter, go-test-unit

fix(REPLACE): complex type fields. fix(UPDATE/DELETE)(db): id
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/handler.go
Due: go-linter, go-test-unit

feat(cache): Etag cache implementation into catalog
  internal/api/api.go
  internal/api/datatype.go
  internal/api/etag.go
  internal/api/net.go
  internal/api/openapi.go
  internal/conf/config.go
  internal/data/cache_disabled.go
  internal/data/cache_naive.go
  internal/data/cacher.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_db_fun.go
  internal/data/catalog_mock.go
  internal/data/db_sql.go
  internal/data/feature_mock.go
  internal/service/db_test/handler_db_delete_test.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler.go
  internal/service/mock_test/empty_base_path_test.go
  internal/service/mock_test/handler_etag_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/service.go
  internal/service/util.go
Due: go-linter, go-test-unit

Extract featureMock to dedicated file
  internal/data/catalog_mock.go
  internal/data/feature_mock.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

Implementation of the sequential test mechanism (db and mock)
  Makefile
  hugo/content/installation/installing.md
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_delete_test.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler_delete_test.go
  internal/service/handler_post_test.go
  internal/service/handler_put_test.go
  internal/service/handler_test.go
  internal/service/handler_update_test.go
  internal/service/mock_test/empty_base_path_test.go
  internal/service/mock_test/handler_delete_test.go
  internal/service/mock_test/handler_functions_test.go
  internal/service/mock_test/handler_get_test.go
  internal/service/mock_test/handler_html_test.go
  internal/service/mock_test/handler_params_test.go
  internal/service/mock_test/handler_post_test.go
  internal/service/mock_test/handler_put_test.go
  internal/service/mock_test/handler_update_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/util.go
  internal/utiltest/test_db.go
  internal/utiltest/test_http.go
Due: go-linter, go-test-unit, build-hugo-doc

feat(REPLACE): replace feature documentation
  hugo/content/usage/collections.md
  internal/api/openapi.go
Due: go-linter, go-test-unit, build-hugo-doc

postgres varchar type json mapping
  internal/api/datatype.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

openapi: fix how geometry are handled
  internal/api/openapi.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/handler.go
  internal/service/handler_post_test.go
  internal/service/handler_put_test.go
  internal/service/handler_update_test.go
Due: go-linter, go-test-unit

openapi: fix openapi validation errors and json validation from requests
  go.mod
  go.sum
  internal/api/api.go
  internal/api/openapi.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_delete_test.go
  internal/service/mock_test/handler_post_test.go
  internal/service/mock_test/handler_put_test.go
  internal/service/mock_test/handler_update_test.go
Due: go-linter, go-test-unit

improve http accepted format management
  internal/api/api.go
  internal/api/net.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_get_test.go
  internal/service/mock_test/handler_put_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/util.go
Due: go-linter, go-test-unit

feat(listener): add db listener
  go.mod
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/data/db_sql.go
  internal/data/listener.go
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/runner_db_test.go
  pg_featureserv.go
Due: go-linter, go-test-unit

feat(schema) : add test for multiple schema
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/db_test/runner_db_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

add ErrMsgCollectionRequestBodyRead for common error messages
  internal/api/api.go
  internal/service/handler.go
Due: go-linter, go-test-unit

feat(db): remove addLeadingComma parameter to function sqlColList to improve sql readability
  internal/data/db_sql.go
Due: go-linter, go-test-unit

fix(listener): add check when calling stopListen to avoid segfault
  internal/data/catalog_db.go
  internal/data/listener.go
Due: go-linter, go-test-unit

feat(if-none-match): add if-non-match header for PUT/PATCH requests on a feature
  go.mod
  go.sum
  internal/api/api.go
  internal/data/cache_test/cache_redis_test.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/db_test/handler_db_if-non-match_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler.go
Due: go-linter, go-test-unit

fix: replace some duplicated strings by const
  internal/conf/cacheconfig.go
  internal/conf/config.go
  internal/data/cache_test/cache_redis_test.go
Due: go-linter, go-test-unit

fix: fix todos on catalog_db, listener and handler
  internal/data/catalog_db.go
  internal/data/listener.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler.go
  internal/service/mock_test/runner_mock_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

fix(test): remove extra string/byte conversions
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
Due: go-linter, go-test-unit

fix(github-ci): remove junit report as no github action is working properly
  .github/workflows/unit-test.yml
Due: none

chore(pre-commit): add config to check commit msg
  .commitlintrc
  .github/workflows/linter.yml
  .pre-commit-config.yaml
Due: none

fix(handler): requested format with Accept header and suffix (#134)
  internal/api/net.go
  internal/service/handler.go
  internal/service/mock_test/handler_get_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/util.go
Due: go-linter, go-test-unit

fix(handler): merge duplicate routes w/wo fmt parameter
  internal/service/handler.go
Due: go-linter, go-test-unit

fix(DB): drop schema only if it exists
  internal/data/listener.go
Due: go-linter, go-test-unit

fix(catalog_db): non-check error when posted object has only required fields.
  internal/data/catalog_db.go
Due: go-linter, go-test-unit

fix(http/format): fix bug when url use composed collection id
  .gitignore
  internal/api/net.go
  internal/data/catalog_mock.go
  internal/data/feature_mock.go
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/runner_db_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_get_test.go
  internal/service/mock_test/handler_post_test.go
  internal/service/mock_test/runner_mock_test.go
  internal/service/util.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

fix(cache): add missing test TestCacheModifiedAfterUpdate
  internal/service/db_test/handler_db_listener_test.go
  internal/service/db_test/runner_db_test.go
Due: go-linter, go-test-unit

chore(github-ci): improve ci: add linter check, test, packaging
  .github/workflows/linter.yml
  .github/workflows/package.yml
  .github/workflows/unit-test.yml
  README.md
Due: build-hugo-doc

feat(if-none-match): introduce WeakEtagData and StrongEtagData struct
  internal/api/api.go
  internal/api/etag.go
  internal/data/cache_disabled.go
  internal/data/cache_naive.go
  internal/data/cache_redis.go
  internal/data/cache_test/cache_redis_test.go
  internal/data/cache_test/runner_cache_test.go
  internal/data/cacher.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_db_fun.go
  internal/data/catalog_mock.go
  internal/data/feature_mock.go
  internal/data/listener.go
  internal/service/db_test/handler_db_etag_test.go
  internal/service/handler.go
  internal/service/mock_test/handler_etag_test.go
  internal/utiltest/test_http.go
Due: go-linter, go-test-unit

chore(github-ci): add unit test report
  .github/workflows/unit-test.yml
Due: none

fix(listener): remove useless mutex
  internal/data/catalog_db.go
  internal/data/listener.go
Due: go-linter, go-test-unit

feat(redis cache): add redis configuration
  config/pg_featureserv.toml.example
  internal/api/etag.go
  internal/conf/appconfig.go
  internal/conf/cacheconfig.go
  internal/conf/config.go
  internal/data/cache_redis.go
  internal/data/cache_test/cache_redis_test.go
  internal/data/catalog_db.go
Due: go-linter, go-test-unit

feat(cache redis): add redis cache implementation
  .github/workflows/unit-test.yml
  go.mod
  go.sum
  internal/api/etag.go
  internal/data/cache_disabled.go
  internal/data/cache_naive.go
  internal/data/cache_redis.go
  internal/data/cache_test/cache_redis_test.go
  internal/data/cache_test/runner_cache_test.go
  internal/data/cacher.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/data/listener.go
  internal/service/db_test/handler_db_listener_test.go
Due: go-linter, go-test-unit

add PATCH test, DEL test, baseURL tests
  postman/collections_test.json
Due: none

feat(test):add collections test postman
  postman/collections_test.json
Due: none

fix(catalog_db): POST feature with no properties results in 500
  internal/data/catalog_db.go
Due: go-linter, go-test-unit

feat(test): define table name for complex dataset creation
  internal/service/db_test/runner_db_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

user acceptence testing -- see what doesn't work
  user_testing/insert_geojson.sh
  user_testing/test_table.sql
  user_testing/vt_small.geojson
Due: none

single feature example
  user_testing/insert_geojson.sh
  user_testing/single_feature.geojson
  user_testing/test_table.sql
Due: none
