Repository benoitdm-oslandia/pg_featureserv: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go-linter, go-test-unit, build-hugo-doc

Path conditions:
  go-linter: any of: **/*.go, **/go.mod, **/go.sum, .gitlab-ci.yml
  go-test-unit: any of: **/*.go, **/go.mod, **/go.sum, .gitlab-ci.yml
  build-hugo-doc: any of: **/*.md, .gitlab-ci.yml

Update insert_geojson.sh
  user_testing/insert_geojson.sh
Due: none

Update test_table.sql
  user_testing/test_table.sql
Due: none

DELETE test
  user_testing/test_delete.sh
  user_testing/test_table.sql
  user_testing/vt_small.geojson
Due: none

Delete vt_small.geojson
  user_testing/vt_small.geojson
Due: none

testing patch
  user_testing/test_patch.sh
Due: none

add PUT and PATCH postman tests
  postman/collections_test.json
Due: none

feat(test): add SuperSimpleFeatureDataset
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/runner_db_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

fix(catalog_db): POST feature with no properties results in 500 (#161)
  internal/data/catalog_db.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/runner_db_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

fix(test): TestGetFormatHandlingSuffix randomly fails
  internal/service/db_test/handler_db_test.go
Due: go-linter, go-test-unit

feat(CREATE): add configuration option to enable/disable database writes
  config/pg_featureserv.toml.example
  hugo/content/installation/configuration.md
  internal/conf/config.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler.go
  internal/service/handler_test.go
Due: go-linter, go-test-unit, build-hugo-doc

feat(REPLACE)(UPDATE): 200 -> 204 for replace and update
  internal/api/api.go
  internal/api/openapi.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler.go
  internal/service/handler_put_test.go
  internal/service/handler_update_test.go
Due: go-linter, go-test-unit

update partial feaure (db)
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler.go
  internal/service/handler_test.go
  internal/service/handler_update_test.go
Due: go-linter, go-test-unit

feat(REPLACE): first stage: method prototypes and first test drafts
  internal/api/api.go
  internal/api/openapi.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/handler.go
  internal/service/handler_put_test.go
  internal/service/handler_test.go
Due: go-linter, go-test-unit

Add CREATE documentation for "OGC API - Features - Part 4: Create, Replace, Update and Delete"
  hugo/content/learn-more/_index.md
  hugo/content/roadmap/capabilities.md
  hugo/content/roadmap/changelog.md
  hugo/content/usage/api.md
  hugo/content/usage/collections.md
Due: build-hugo-doc

Reflow documentation
  API.md
  README.md
  hugo/README.md
  hugo/content/README.md
  hugo/content/_index.md
  hugo/content/installation/configuration.md
  hugo/content/installation/deployment.md
  hugo/content/installation/installing.md
  hugo/content/learn-more/_index.md
  hugo/content/roadmap/_index.md
  hugo/content/roadmap/capabilities.md
  hugo/content/roadmap/changelog.md
  hugo/content/usage/api.md
  hugo/data/version.toml
Due: build-hugo-doc

feat(REPLACE)(UPDATE): Add TestGetCollectionReplaceSchema and TestGetCollectionUpdateSchema
  internal/service/handler.go
  internal/service/handler_put_test.go
  internal/service/handler_test.go
  internal/service/handler_update_test.go
Due: go-linter, go-test-unit

Remove json return in partial update methods
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/handler.go
Due: go-linter, go-test-unit

feat(REPLACE): add tests and mock implementation
  internal/api/api.go
  internal/data/catalog_mock.go
  internal/service/handler.go
  internal/service/handler_put_test.go
  internal/service/handler_test.go
Due: go-linter, go-test-unit

handler_post_test: fix bad count check
  internal/service/handler_post_test.go
Due: go-linter, go-test-unit

Update conformance list
  internal/api/api.go
Due: go-linter, go-test-unit

add missing /collections/{collectionId}/items POST api
  internal/api/openapi.go
  internal/service/handler_post_test.go
Due: go-linter, go-test-unit

feat(REPLACE): Add DB support
  internal/data/catalog_db.go
  internal/service/db_test/handler_db_test.go
Due: go-linter, go-test-unit

Update header for go files: add date and authors
  internal/api/datatype.go
  internal/api/function.go
  internal/api/table.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler_delete_test.go
  internal/service/handler_post_test.go
  internal/service/handler_put_test.go
  internal/service/handler_update_test.go
  internal/utiltest/test_common.go
  internal/utiltest/test_db.go
  internal/utiltest/test_http.go
Due: go-linter, go-test-unit

feat(DELETE): updating docs about feature deletion
  hugo/content/usage/collections.md
  internal/api/openapi.go
Due: go-linter, go-test-unit, build-hugo-doc

feat(DELETE) : add delete feature
  internal/api/openapi.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/handler.go
  internal/service/handler_delete_test.go
  internal/service/util.go
  util/test_db.go
  util/test_http.go
Due: go-linter, go-test-unit

feat(UPDATE) usage doc of update partial feature
  hugo/content/usage/collections.md
  internal/api/openapi.go
Due: go-linter, go-test-unit, build-hugo-doc

Extract featureMock to dedicated file
  internal/data/catalog_mock.go
  internal/data/feature_mock.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

Catalog functions return features and no json string
  internal/api/api.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_db_fun.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler.go
  internal/service/handler_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

feat(DELETE): Database Delete feature tests
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler.go
  internal/service/util.go
  util/test_db.go
Due: go-linter, go-test-unit

move util package to internal/utiltest
  internal/cql/cql_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/empty_base_path_test.go
  internal/service/handler_delete_test.go
  internal/service/handler_post_test.go
  internal/service/handler_put_test.go
  internal/service/handler_test.go
  internal/service/handler_update_test.go
  internal/utiltest/test_common.go
  internal/utiltest/test_db.go
  internal/utiltest/test_http.go
Due: go-linter, go-test-unit

Move type to avoid import cycles and duplicate
  internal/api/api.go
  internal/api/datatype.go
  internal/api/function.go
  internal/api/openapi.go
  internal/api/table.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_db_fun.go
  internal/data/catalog_mock.go
  internal/data/db_sql.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler.go
  internal/service/handler_test.go
  internal/service/param.go
  internal/ui/ui.go
  internal/utiltest/test_common.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

feat(REPLACE) catalog_db: fix sql error check
  internal/data/catalog_db.go
Due: go-linter, go-test-unit

feat(CREATE): fix openapi (remove featureId parameter)
  internal/api/openapi.go
  internal/data/db_sql.go
Due: go-linter, go-test-unit

fix: introduce PGType and JSONType for better reliability
  internal/api/api.go
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_db_fun.go
  internal/data/catalog_mock.go
  internal/service/handler.go
  internal/service/handler_test.go
Due: go-linter, go-test-unit

feat(catalog): manage not required fields
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/data/db_sql.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler_put_test.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

feat(REPLACE): replace feature documentation
  hugo/content/usage/collections.md
  internal/api/openapi.go
Due: go-linter, go-test-unit, build-hugo-doc

Improve datatype management for openapi schema and new feature creation
  internal/api/datatype.go
  internal/data/catalog_db.go
  internal/data/db_sql.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/handler.go
  internal/service/handler_test.go
  internal/service/service.go
  internal/utiltest/test_db.go
Due: go-linter, go-test-unit

Fix tests with complex type fields
  internal/data/catalog_db.go
  internal/service/db_test/handler_db_delete_test.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/db_test/handler_db_put_test.go
  internal/service/db_test/handler_db_test.go
  internal/service/db_test/handler_db_update_test.go
  internal/service/handler.go
  internal/service/handler_update_test.go
Due: go-linter, go-test-unit

openapi: fix how geometry are handled
  internal/api/openapi.go
  internal/service/db_test/handler_db_post_test.go
  internal/service/handler.go
  internal/service/handler_post_test.go
  internal/service/handler_put_test.go
  internal/service/handler_update_test.go
Due: go-linter, go-test-unit

feat(DELETE): remove useless returned value
  internal/data/catalog.go
  internal/data/catalog_db.go
  internal/data/catalog_mock.go
  internal/service/handler.go
Due: go-linter, go-test-unit
